Telegram Agent/Mega Telegram Agent.json
{
  "name": "Mega Telegram Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1056,
        96
      ],
      "id": "9843da42-b8b1-428e-a0a2-e8c85a4e7deb",
      "name": "Telegram Trigger",
      "webhookId": "0b6360be-01fe-4318-beb2-166e596dcae6",
      "credentials": {
        "telegramApi": {
          "id": "dlHTNNm8z4g4zwGu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "9633b383-6380-42b2-a7b0-2585d466f252"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b87f80fd-8ad8-4c37-b983-094842a70f4f",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -352,
        96
      ],
      "id": "29d34a0f-4ef5-4874-bcc6-a410f0aa9894",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86e174f1-1616-4a3c-8c33-1b1447cf7e8b",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "daa21801-b24e-4460-8967-c1e7974e2d56",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Role\nYou are an assistant with access to multiple tools.\n\n# Behavior\nYou respond promptly, efficiently and sufficiently in a friendly and approachable style.\n\n# Date and Time : {{ $now }}\n\n# Tools\nYou have access to multiple tools and you always choose the appropriate one for the right task.\n\n## Gmail_Tool\nUse this tool to do everything related to mail. If you are sending out emails, You sign every email with \"Shub\" and never use empty placeholders for names.\nMake sure emails are well formatted with proper body and spaces.\n\n## Calendar_Tool\nUse this tool to do anything with or to the calendar.\n\n## Search_Agent\n\nUse this tool to search the web, hackernews, wikipedia or social media sources.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        80
      ],
      "id": "69d5cdf9-6e4c-46c7-93d5-abd58f0d737b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        672
      ],
      "id": "7ecbdf8b-54e7-437c-ba2c-4c2c076592b5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gwpnBCKKhBjHNEcR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        192
      ],
      "id": "e510451b-29c7-4589-815c-cbf9a1dbafc5",
      "name": "Get a file",
      "webhookId": "f08af28b-3bbc-4e69-86dd-ec22ae96c042",
      "credentials": {
        "telegramApi": {
          "id": "dlHTNNm8z4g4zwGu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        64,
        192
      ],
      "id": "f382d70a-1023-4952-9838-774fc8fb3035",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "gwpnBCKKhBjHNEcR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        672
      ],
      "id": "a22ae682-b507-4fac-b42f-b4b08d84969a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        224
      ],
      "id": "067a508b-2928-421f-9eed-201efddbd1e1",
      "name": "Send a text message",
      "webhookId": "4ff9b478-b85d-4fc6-b337-f43e965fb28c",
      "credentials": {
        "telegramApi": {
          "id": "dlHTNNm8z4g4zwGu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool anytime you need to do anything related to the calendar",
        "workflowId": {
          "__rl": true,
          "value": "3y2xXj1G8wwffzhx",
          "mode": "list",
          "cachedResultUrl": "/workflow/3y2xXj1G8wwffzhx",
          "cachedResultName": "Sub Calender Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        512,
        592
      ],
      "id": "1b79eb19-00cc-4180-9ec5-03ec42cfe3d8",
      "name": "Calender Agent"
    },
    {
      "parameters": {
        "description": "Use this tool to search the web, hackernews, wikipedia for information",
        "workflowId": {
          "__rl": true,
          "value": "CKvFQzlVja9HkSav",
          "mode": "list",
          "cachedResultUrl": "/workflow/CKvFQzlVja9HkSav",
          "cachedResultName": "Sub Search Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        336,
        592
      ],
      "id": "c3d426b4-0315-415d-9bc7-1d6c1f9d7a81",
      "name": "Search Agent"
    },
    {
      "parameters": {
        "description": "Use this tool every time you need to do anything with emails",
        "workflowId": {
          "__rl": true,
          "value": "s93V0vXABmN9VfeJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/s93V0vXABmN9VfeJ",
          "cachedResultName": "Sub Workflow Mails"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        704,
        592
      ],
      "id": "180161bb-97cb-4323-b237-0a29df282965",
      "name": "Gmail_Tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are Dinesh with a capital D, a funny, charming, sarcastic guy who comments and makes funny ancedotes about topics. You try to roast, insult and be really funny about topics and in general as well.\n\nBe short and punchy too. Do not overshoot with long texts. 1-3 lines at most.\nTopics : {{ $json.output }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        848,
        -144
      ],
      "id": "13a4de77-bef3-4f46-a135-c078ead500fc",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        64
      ],
      "id": "948e5d9d-91cd-4b47-a538-40979d97bb9b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "gwpnBCKKhBjHNEcR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1200,
        -144
      ],
      "id": "7c73d608-962f-429b-be1f-87e369ccd045",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "gwpnBCKKhBjHNEcR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        -144
      ],
      "id": "d764aaa4-a91e-4bc8-91b6-d6bc34fef002",
      "name": "Send an audio file",
      "webhookId": "e5d478e7-4b07-4f27-9ce5-96decda60ecc",
      "credentials": {
        "telegramApi": {
          "id": "dlHTNNm8z4g4zwGu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "910c120e-1338-4bf3-89b2-033cfced4d72",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 8360115754,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "de016612-19f1-448d-bde3-e041d5ac7db3",
              "leftValue": "={{ $json.message.from.first_name }}",
              "rightValue": "Shub",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -704,
        96
      ],
      "id": "da8b916d-89fd-465f-b04b-407b75de0361",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -464,
        288
      ],
      "id": "28c47890-f399-4e94-ad6f-955390fb119e",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calender Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b395eb2-a2b2-4f40-92ce-7b557578336f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9056219ea7666072faa5a16e90bc752fc5b9deac8b88898396aa630efef79c9d"
  },
  "id": "0eADeRyrm2kOiGph",
  "tags": []
}