Financial Chat Bot/Google Drive to Pinecone.json
{
  "name": "Google Drive to Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Spa_6KW8R4jBLz1eG0xZeK3nLoF05NbL",
          "mode": "list",
          "cachedResultName": "Tesla Earnings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Spa_6KW8R4jBLz1eG0xZeK3nLoF05NbL"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "354e9e4e-5e65-428d-bbb5-7fc6c3274e38",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "f493pmcVxmp8BYj4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "294f00b1-9296-447d-aa61-97dc8e78063c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "f493pmcVxmp8BYj4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntes",
          "mode": "list",
          "cachedResultName": "n8ntes"
        },
        "embeddingBatchSize": null,
        "options": {
          "pineconeNamespace": "n8ntsla"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "63c6b464-32e3-4919-8f12-8ca401f959d7",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "IybHILai9BbHzUg3",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        224
      ],
      "id": "6228330e-5fce-48e0-9d34-8df632795876",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "83RzRe6NY43Wxy9N",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "TSLA-Report",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "ac1678d1-4ba1-4d12-98ca-c116eb8e0491",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        464,
        368
      ],
      "id": "38b27e07-d779-447b-b0c5-8e4db28c5a66",
      "name": "Recursive Character Text Splitter1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd3393b8-1c9a-4798-a42d-9c9192f42166",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aac7c583aea0f661a99ba19b7318acfaa62d133fa76db59f991e7cbb07e10094"
  },
  "id": "we5QGhCr2RyWoKiA",
  "tags": []
}