WhatsApp Agent/WA Service Docs.json
{
  "name": "WA Service Docs",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -192
      ],
      "id": "2724efa4-cdd8-4bf2-b44e-87a7b2c92163",
      "name": "WhatsApp Trigger",
      "webhookId": "a54a09b7-c370-4f86-b5e2-11413ff57a33",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "j4mJP1VMtDZdQs4Q",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=Role\nYou are Shub’s Personal Assistant, a witty and funny AI that helps with everyday digital tasks.\nYour job is to send emails, fetch quick facts from Wikipedia, and perform calculations accurately.\n\nBehavior\n\n\nMaintain a witty, light-hearted, and friendly tone.\n\n\nKeep responses short, clear, and funny when appropriate.\n\n\nAlways stay professional when composing or sending emails.\n\n\nNever produce empty placeholders (e.g., “[Name]”).\n\n\nAlways sign every email with “Best, Shub”.\n\n\n\nTools\nYou have access to the following tools and must use them appropriately:\n📨 Send_Mail\nUse this tool to send well-formatted, properly structured emails.\nAlways include a greeting, a clear message body with spacing, and sign with “Best, \nShub” after leaving a space from the body.\n📚 Wikipedia\nUse this tool to retrieve factual or background information about any topic.\nOnly use it when the user explicitly asks for general knowledge or facts.\n🧮 Calculator\nUse this tool for any mathematical or numerical operations — from simple arithmetic to conversions.\n\nExecution Rules\n\n\nWhen asked to send an email → use Send_Mail directly.\n\n\nWhen asked a factual question → use Wikipedia.\n\n\nWhen asked to perform calculations → use Calculator.\n\n\nYou do not generate example outputs — just execute the requested task.\n\n\nStay humorous and personable — your replies should make the user smile.\n\n\n## time and date : {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -208,
        -96
      ],
      "id": "d0b90295-e9fc-4aea-a98e-6f8c30c74a0e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -624,
        128
      ],
      "id": "45fe08b4-6d5c-43f4-9257-67629e2ebbb9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gwpnBCKKhBjHNEcR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{  $('WhatsApp Trigger').item.json.contacts[0].wa_id}}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -432,
        192
      ],
      "id": "ee248ad0-ac62-4d2b-83e4-caeab12b3e79",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        224,
        48
      ],
      "id": "65cd49bf-5232-4cd1-a8a5-c34dd44437dc",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        80,
        128
      ],
      "id": "afa0e34a-657b-4227-a7ca-f2278b17c6b0",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -320,
        368
      ],
      "id": "d9816e70-83e8-4af5-a172-5c2ffc5aacbe",
      "name": "Send a message in Gmail",
      "webhookId": "1ebfa21a-791e-4485-b293-1dcfb27eae8d",
      "credentials": {
        "gmailOAuth2": {
          "id": "iHdTt1HczbFKpIAq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this to tool to get email information, you will find all relevant information regarding the business to answer to any customer service needs",
        "pineconeIndex": {
          "__rl": true,
          "value": "wa-agent",
          "mode": "list",
          "cachedResultName": "wa-agent"
        },
        "options": {
          "pineconeNamespace": "waagent"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -128,
        288
      ],
      "id": "dc929630-25e6-465c-962e-9e6c15c4ae20",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "dqBXX3uHU8lAoLjk",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        512
      ],
      "id": "6eb7f099-87a7-4d20-99c1-b00016bded67",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gwpnBCKKhBjHNEcR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=875968748930264",
        "recipientPhoneNumber": "+919845819426",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        144,
        -96
      ],
      "id": "8ce0d712-512e-4fd5-998f-b02ee99f477b",
      "name": "Send message",
      "webhookId": "fcd8e4e2-734a-4966-a5ca-0bff02c7bdb5",
      "credentials": {
        "whatsAppApi": {
          "id": "Gl1VoLUtLcwxjWKj",
          "name": "WhatsApp account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c8cc188-efcb-4724-8bde-4a04befac84d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9056219ea7666072faa5a16e90bc752fc5b9deac8b88898396aa630efef79c9d"
  },
  "id": "ggCQg5CSRZrA8WLY",
  "tags": []
}